/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 6rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

[data-theme='dark'] .heroBanner {
  background: var(--ifm-background-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
